.primary-btn {
	background-color: #4f11dd;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
}

.secondary-btn {
	background-color: #ebe9f1;
	color: #f2071e;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
}